body {
  border: none;
  margin: 0;
  background-image: url("./Images/—Pngtree—background\ abstract\ sound\ waves\ with_1202132.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100svh;
  font-family: "Limelight", cursive;
  overflow: hidden;
}
.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  margin: 8rem 10rem 0 10rem;
}
h1 {
  margin: 5rem 10rem 0 5em;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 0, 195), 0 0 82px rgb(255, 0, 195),
    0 0 92px rgb(255, 0, 195), 0 0 102px rgb(255, 0, 195),
    0 0 151px rgb(255, 0, 195);
  opacity: 0.9;
  animation: flicker 1.5s infinite alternate;
}
h2 {
  text-transform: capitalize;
  height: 100px;
  margin: 0 0;
  font-weight: 900;
  width: 8rem;
  color: rgba(0, 94, 255, 0.907);
  text-align: center;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgba(0, 94, 255, 0.907), 0 0 82px rgba(0, 94, 255, 0.907),
    0 0 92px rgba(0, 94, 255, 0.907), 0 0 102px rgba(0, 94, 255, 0.907),
    0 0 151px rgba(0, 94, 255, 0.907);
  font-size: 5rem;
  background: rgba(143, 242, 242, 0.18);
  border-radius: 16px;
  box-shadow: inset 0 0 2px 2px hsla(0, 0%, 0%, 0.2),
    inset 0 0 2px 4px hsla(0, 0%, 0%, 0.2),
    inset 0 0 2px 6px hsla(0, 0%, 0%, 0.2),
    inset 0 0 1px 8px hsla(0, 0%, 0%, 0.5),
    inset 0 -4px 2px 4px hsla(0, 0%, 0%, 0.5),
    inset 0 1px 1px 8px hsla(0, 0%, 100%, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(143, 242, 242, 0.24);
  filter: brightness(2);
}
@keyframes brightness {
  0% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1.8);
  }
  0% {
    filter: brightness(2);
  }
}
@keyframes scaleDown {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.95;
  }
  0% {
    scale: 1;
  }
}
@keyframes blur {
  0% {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  0% {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}
h2:hover {
  cursor: pointer;
}

.music-notes {
  font-family: "Noto Music", sans-serif;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 0, 195), 0 0 82px rgb(255, 0, 195),
    0 0 92px rgb(255, 0, 195), 0 0 102px rgb(255, 0, 195),
    0 0 151px rgb(255, 0, 195);
  font-size: 3rem;
  filter: brightness(300%);
  text-align: center;
  background-position-x: -1;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(255, 0, 195), 0 0 80px rgb(255, 0, 195),
      0 0 90px rgb(255, 0, 195), 0 0 100px rgb(255, 0, 195),
      0 0 150px rgb(255, 0, 195);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.songs {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  margin: 2rem 5rem;
}
.songs h2 {
  width: 20rem;
  height: 4rem;
  font-size: 3rem;
}
@keyframes noteAnim {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2) rotate(5deg) translateY(-200px);
  }
  50% {
    transform: scale(4) translateY(-400px);
  }
  75% {
    transform: scale(6) rotate(-5deg) translateY(-600px);
  }
  100% {
    transform: scale(8) translateY(-800px);
  }
}
@keyframes noteOpacity {
  0% {
    filter: opacity(0);
  }
  25% {
    filter: opacity(0.5);
  }
  50% {
    filter: opacity(1);
  }
  75% {
    filter: opacity(0.5);
  }
  100% {
    filter: opacity(0);
  }
}

@media (max-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 1.7rem;
    margin: 0 5rem;
  }
  h2 {
    height: 80px;
    margin: 0 0;
    font-size: 4rem;
    font-weight: 600;
    width: 6rem;
  }
  .container {
    column-gap: 3rem;
  }
}
@media (max-width: 625px) {
  h1 {
    font-size: 1.3rem;
    margin: 0 3rem;
  }
  h2 {
    height: 60px;
    margin: 0 0;
    font-size: 3rem;
    font-weight: 500;
    width: 5rem;
  }
  .container {
    column-gap: 1.6rem;
  }
}
@media (max-width: 415px) {
  h1 {
    font-size: 1rem;
    margin: 0 1rem;
  }
  h2 {
    height: 50px;
    margin: 0 0;
    font-size: 2.8rem;
    font-weight: 200;
    width: 4rem;
  }
  .container {
    column-gap: 1.3rem;
  }
}
